/* Base styling for HTML elements */
html {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  height: 100%;
  background-color: #567d46;
}

/* Center-align text and add padding to the header area */
header {
  text-align: center;
  padding: 0.5em 0;
}

/* Increase font size of h1 for emphasis */
h1 {
  font-size: 3em;
}

/* Body styling */
body {
  margin: 0 auto; /* Center align the body content */
  width: 80%; /* Set a maximum width for better readability */
  min-width: 220px; /* Ensure a minimum width for smaller screens */
  background-color: rgb(240, 240, 240);  
  padding: 0 1em 2em 1em;
}

/* Styling for the figure containing the image */
#img-div {
  text-align: center;
  background-color: white;
  padding: 10px;
  margin: 0;
}

/* Image styling */
#image {
  width: 80%; /* dynamic width */
  max-width: 500px;
  min-width: 200px;
  display: block;
  height: auto;
  margin: 0 auto;
}

/* Styling for the image caption */
#img-caption {
  margin: 1.5em auto;
}

h3 {
  text-align: center;
  margin: 2em auto;
}

/* Styling for unordered lists */
ul {
  max-width: 600px;
  margin: 0 auto;
}

/* Margin for list items */
li {
  margin: 1em auto;
}

/* Styling for blockquote elements */
blockquote {
  font-style: italic;
  max-width: 550px;
  margin: 3em auto;
}

h4 {
  text-align: center;
  max-width: 600px; /* Limit maximum width of h4 */
  margin: 0 auto; /* Center-align h4 */
}

/* Footer styling */
footer {
  text-align: center;
  padding: 1em 0;
  font-size: 13px;
  font-style: italic;
  line-height: 0.5;
}
